*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
}
.box{
    width: 350px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
   
}

.first_circle{
    width: 250px;
    height: 250px;  
    position: absolute;
    border: 2px solid orange;
    animation: rotate1 2s linear infinite;
  
}
@keyframes rotate1 {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
.second_circle{
    width: 150px;
    height: 150px;
    border: 2px solid white;
    position: absolute;
    animation: rotate2 2s linear infinite;
}
@keyframes rotate2 {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(-360deg);
    }
}
.third_circle{
    width: 50px;
    height: 50px;
    border: 2px solid green;
    position: absolute;
    animation: rotate3 2s linear infinite;
}
@keyframes rotate3 {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
.first_circle,
.second_circle,
.third_circle,
.box{
    border-left: none;
    border-bottom: none;
    border-radius: 50%;
}
span{
    color: white;
    font-size: 50px;
    letter-spacing: 7px;
    animation: opacity 1s linear infinite;
    animation-delay: calc(var(--i)*.8s);
}
@keyframes opacity {
    0%{
        opacity: 0.2;
    }
    100%{
        opacity: 1;
    }
}